body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

header,
footer {
    background-color: rosybrown;
}

.search-bar {
    background: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg') bottom center no-repeat;
    height: 380px;
    background-size: 100% 380px;
}

header img {
    height: 60px;
    width: 60px;
}

.image-container {
    margin: 0 15%;
}

.image-container img {
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}

.social-media-images img {
    height: 20px;
    width: 20px;
}